* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E5E5E5;
}

main {
    min-height: 70vh;
    text-align: center;
}

header {
    min-height: 80px;
}

/* footer {
    min-height: 15vh;
} */

.container {
    width: 80%;
    margin: 0 auto;
    
}

.mb-1 {
    margin-bottom: 1rem;
}

.html {
    margin-right: 5px;
    padding: 5px;
    background-color: lightskyblue;
}

.css {
    display: inline-block;
    margin-top: 10px;
    margin-right: 5px;
    padding: 5px;
    background-color: lightgreen;
}

.js {    
    display: inline-block;
    margin-top: 10px;
    margin-right: 5px;
    padding: 5px;
    background-color: yellow;
}

.php {
    display: inline-block;
    margin-top: 10px;
    margin-right: 5px;
    padding: 5px;
    background-color: lightcoral;
}